.card-item {
  border:none;
}

.card-item th {
  margin: 10px 25px;
  padding: 0 35px;
  font-weight: bold;
  font-size: 25px;
}

th p, td p {
  margin: 20px;
}

.delete-card-btn {
  background-color: red;
}

.edit-card-btn {
  background-color:  rgba(95,186,233,1);
}